<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.3.1-dist/css/bootstrap.css')}}">
<!--<script src="bootstrap-4.3.1-dist\css\bootstrap.min.js"></script>-->
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<title>Ogame Bot</title>
</head>
<body>
<h1 class="text-center">Mouvement de flottes</h1>
<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('hello') }}">Retour</a>
<div class="card">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
            {% for key in flottes[0] %}
                <th scope="col" class="text-center">{{key}}</th>
            {% endfor %}               
            </tr>
        </thead>
        <tbody>
            {% for flotte in flottes %}
            <tr>
                {% for key,value in flotte.items() %}
                <td>
                    {% set key_f = key %}
                    {% set value_f = value %}
                    {% if key_f == "mission" %}
                        {% for key,value in missions_list %}
                            {% if value == value_f %}
                                {{ key }}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                    {{ value }}
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>