<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.3.1-dist/css/bootstrap.css')}}">
<!--<script src="bootstrap-4.3.1-dist\css\bootstrap.min.js"></script>-->
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<title>Ogame Bot</title>
</head>
<div>
<body>
    <form action="/start/" method="post">
    <button class="btn btn-primary" type="submit">Start</button>
</form>
    <form action="/stop/" method="post">
    <button class="btn btn-primary" type="submit">Stop</button>
</form>
</form>
    <form action="/refresh/" method="post">
    <button class="btn btn-info" type="submit">Refresh</button>
</form>
</div>
    <table>
        <thead><th scope="col" center>niveau des  recherches</th></thead>
        <tbody>
            <tr>
                {% for key,value in research %}
                    <td>{{key}}<center>{{value}}</center> </td>
                {% endfor %}
            <tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">Planète</th>
            <th scope="col">lvl des ressources</th>
            <th scope="col">lvl installations</th>
            <th scope="col">Vaisseaux</th>
            </tr>
        </thead>
        <tbody>
            {% for pl_info in ogame %}                   
            <tr>
                <th scope="row">{{ pl_info["id_planet"] }}</th>
                {% for value in pl_info["content"] %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>    
            {% endfor %}
        </tbody>
    </table>
</body>
</html>