<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.3.1-dist/css/bootstrap.css')}}">
<!--<script src="bootstrap-4.3.1-dist\css\bootstrap.min.js"></script>-->
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<title>Ogame Bot</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form action="/start/" method="post">
        <button class="btn btn-danger" type="submit">Start</button>
    </form>
    <form action="/stop/" method="post">
        <button class="btn btn-danger" type="submit">Stop</button>
    </form>
    </form>
        <form action="/refresh/" method="post">
        <button class="btn btn-info" type="submit">Refresh</button>
    </form>
    <h2 class="navbar-text">Etat Connection:{{info[0]}}</h2>
    <h2 class="navbar-text">Etat de lancement:{{info[1]}}</h2>
    </form>
        <form action="/log/" method="post">
        <button class="btn btn-info" type="submit">Log</button>
    </form>
</nav>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="text-center"><tr><h3>niveau des recherches</h3></tr></thead>
        <tbody>
           <tr>
                {% for keyz in research[0] %}
                    <td><center>{{keyz | replace("_technology","") | replace("_drive"," drive")
                     | replace("_network","") | replace("_"," ")  }}</center> </td>                   
                {% endfor %}
            </tr>
            <tr>
                {% for values in research[1] %}
                    <td><center>{{values}}</center></td>
                {% endfor %}
            </tr>         
        </tbody>
    </table>
</div>
<div class="card">
    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col" class="text-center">Planète</th>
                <th scope="col" class="text-center">lvl des ressources</th>
                <th scope="col" class="text-center">lvl installations</th>
                <th scope="col" class="text-center">Vaisseaux</th>
                <th scope="col" class="text-center">En construction</th>
            </tr>
        </thead>
        <tbody>
            {% for pl_info in ogame %}                   
            <tr>
                <th scope="row">{{ pl_info["id_planet"] }}
                 <br />
                 ({{ pl_info["position"] }})
                 <br />
                 {% for key,value in pl_info["resources"]%}
                    <p>{{key}}:{{value}}</p>
                    {% endfor %}
                </th>
                {% for content in pl_info["content"] %}
                    <td>
                    {% for key,value in content %}
                        {% if not value == 0 %}
                            <p>{{key}} : {{value}}</p>
                        {% endif %}
                    {% endfor %}
                    </td>
                {% endfor %}
            </tr>    
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>