<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Ogame Bot</title>
</head>
<body>
    <form action="/start/" method="post">
    <button name="forwardBtn" type="submit">Start</button>
</form>
    <form action="/stop/" method="post">
    <button name="forwardBtn" type="submit">Stop</button>
</form>
</form>
    <form action="/refresh/" method="post">
    <button name="forwardBtn" type="submit">Refresh</button>
</form>
    {% for x in ogame %}
    <ul>{{x}}</ul>
        {% for y in x %}
           {{ y }}
        {% endfor %}    
    {% endfor %}
</body>
</html>