<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.3.1-dist/css/bootstrap.css')}}">
<!--<script src="bootstrap-4.3.1-dist\css\bootstrap.min.js"></script>-->
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
<title>Ogame Bot</title>
</head>
<body>
<a class="btn btn-primary btn-lg btn-block" href="{{ url_for('hello') }}">Retour</a>
<div class="card">
    <table class="table table-bordered table-dark">
        <thead><tr>
            <th scope="col" class="text-center">function ogame</th>
            <th scope="col" class="text-center">info ogame</th>
        </tr></thead>
    <tbody>
    <tr><td>
        {% for log in info_log%}
            <p>{{log}}</p>
        {% endfor %}
        </td>
        <td>
            {% for log2 in info_log2 %}
                <p>{{log2}}</p>
            {% endfor %}
        </td>
    </tr>
    </tbody>
    </table>
</div>
</body>
</html>